<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="scala.application">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/mapperdao-examples/src/main/java/jdbc/BatchVsNonBatch.scala"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.preferred_launchers"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="jdbc.BatchVsNonBatch"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="mapperdao-examples"/>
</launchConfiguration>
